<div class="container mt-5">
  <div class="row">
    <div class="col-8">
      <mat-horizontal-stepper [linear]="true" #appStepper>
        <mat-step [stepControl]="addressForm" [completed]="addressForm.valid">
          <form [formGroup]="addressForm">
            <ng-template matStepLabel>Address</ng-template>
            <app-checkout-address [checkoutForm]="checkoutForm"></app-checkout-address>
          </form>
        </mat-step>

        <mat-step [stepControl]="deliveryForm" [completed]="deliveryForm.valid">
          <form [formGroup]="deliveryForm">
            <ng-template matStepLabel>Delivery</ng-template>
            <app-checkout-delivery [checkoutForm]="checkoutForm"></app-checkout-delivery>
            <div class="d-flex justify-content-between mt-3">
              <button mat-button matStepperPrevious>Back</button>
            </div>
          </form>
        </mat-step>

        <mat-step>
          <ng-template matStepLabel>Review</ng-template>
          <app-checkout-review [appStepper]="appStepper"></app-checkout-review>
          <div class="d-flex justify-content-between mt-3">
            <button mat-button matStepperPrevious>Back</button>
          </div>
        </mat-step>

        <mat-step [stepControl]="paymentForm" [completed]="paymentForm.valid">
          <form [formGroup]="paymentForm">
            <ng-template matStepLabel>Payment</ng-template>
            <app-checkout-payment [checkoutForm]="checkoutForm"></app-checkout-payment>
            <div class="d-flex justify-content-between mt-3">
              <button mat-button matStepperPrevious>Back</button>
            </div>
          </form>
        </mat-step>
      </mat-horizontal-stepper>
    </div>
    <div class="col-4">
      <app-order-totals></app-order-totals>
    </div>
  </div>
</div>
