<div class="checkout-payment" [formGroup]="checkoutForm">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Payment Information</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row" formGroupName="paymentForm">
        <div class="form-group col-6">
            <div class="card-fields">
              <div #cardNumber></div>
              <mat-error *ngIf="cardErrors">{{ cardErrors }}</mat-error>
              <div #cardExpiry></div>
              <div #cardCvc></div>
            </div>
            <div class="card-completion-status">
              <div>
                <mat-icon *ngIf="cardNumberComplete" color="primary">check_circle</mat-icon>
                <mat-icon *ngIf="!cardNumberComplete" color="warn">warning</mat-icon>
                <span>Card Number Complete: {{ cardNumberComplete ? 'Yes' : 'No' }}</span>
              </div>
              <div>
                <mat-icon *ngIf="cardExpiryComplete" color="primary">check_circle</mat-icon>
                <mat-icon *ngIf="!cardExpiryComplete" color="warn">warning</mat-icon>
                <span>Expiry Complete: {{ cardExpiryComplete ? 'Yes' : 'No' }}</span>
              </div>
              <div>
                <mat-icon *ngIf="cardCvcComplete" color="primary">check_circle</mat-icon>
                <mat-icon *ngIf="!cardCvcComplete" color="warn">warning</mat-icon>
                <span>CVC Complete: {{ cardCvcComplete ? 'Yes' : 'No' }}</span>
              </div>
            </div>
            <div class="d-flex justify-content-between flex-row mb-5">
              <button mat-raised-button color="primary" type="submit" [disabled]="loading || !paymentFormComplete"
                      style="margin: 10px" (click)="submitOrder()">
                <span *ngIf="loading">Processing...</span>
                <span *ngIf="!loading"></span>
                <mat-icon>safety_check</mat-icon>
                Submit order
              </button>
            </div>
          </div>
        </div>
    </mat-card-content>
  </mat-card>
</div>
