<mat-card class="mat-elevation-z8">
  <mat-card-content>
    <div class="header">
      <div class="sort-section">
        <mat-form-field appearance="fill" class="spacing">
          <mat-label>Sort</mat-label>
          <mat-select (selectionChange)="onSortSelected($event)">
            <mat-option *ngFor="let sort of sortOptions" [value]="sort.value">
              {{ sort.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="filter-section">
        <mat-form-field appearance="fill" class="spacing">
          <mat-label>Gender</mat-label>
          <mat-select (selectionChange)="onGenderSelected($event)" [(value)]="clothingParams.gender">
            <mat-option [value]="null">All</mat-option>
            <mat-option *ngFor="let gender of genderOptions" [value]="gender">
              {{ gender }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill" class="spacing">
          <mat-label>Category</mat-label>
          <mat-select (selectionChange)="onCategorySelected($event)" [(value)]="clothingParams.category">
            <mat-option [value]="null">All</mat-option>
            <mat-option *ngFor="let category of categoryOptions" [value]="category">
              {{ category }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill" class="mb-4">
          <mat-label>Size</mat-label>
          <mat-select (selectionChange)="onSizeSelected($event)" [(value)]="clothingParams.size">
            <mat-option [value]="null">All</mat-option>
            <mat-option *ngFor="let size of sizeOptions" [value]="size">
              {{ size }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="search-section">
        <mat-form-field class="spacing">
          <input matInput (keyup.enter)="onSearch()" placeholder="Search" #search>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="onSearch()" class="search-button">Search</button>
        <button mat-raised-button color="accent" (click)="onReset()">Reset</button>
      </div>
    </div>

    <div class="main-content">
      <div class="sidebar">
        <section class="col-3">
          <h5 class="text ms-3 brands-header">BRANDS</h5>
          <mat-nav-list class="brand-list">
            <mat-list-item my-3 *ngFor="let brand of brands" (click)="onBrandSelected(brand.id)"
                           [class.active]="brand.id === clothingParams.clothingBrandId">
              {{ brand.name }}
            </mat-list-item>
          </mat-nav-list>
        </section>
      </div>

      <div class="product-list">
        <div class="row" *ngIf="products.length > 0">
          <div class="col-2" *ngFor="let product of products">
            <app-clothing-item [product]="product"></app-clothing-item>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<mat-paginator [length]="totalCount"
               [pageSize]="clothingParams.pageSize"
               [pageIndex]="clothingParams.pageIndex - 1"
               [pageSizeOptions]="[3, 6, 12]"
               (page)="onPageChanged($event)">
</mat-paginator>
