.spacing
  margin-right: 10px

.header
  display: flex
  justify-content: space-between
  align-items: center
  margin-bottom: 20px

.sort-section
  display: flex
  align-items: center
  margin-right: 20px


.search-section
  display: flex
  align-items: center
  margin-right: 10px

.main-content
  display: flex
  align-items: flex-start

.sidebar
  width: 20%

.product-list
  flex: 1
  margin-left: 20px

mat-list-item
  cursor: pointer
  padding: 0.5rem 1rem
  border-radius: 15px
  transition: background-color 0.3s ease
  background-color: #000000
  color: #ffffff

  &.active
    background-color: #ff0000
    color: #ffffff

.brand-list
  padding: 5px
  list-style: none

.row
  display: flex
  flex-wrap: wrap
  margin: 20px

.col-2
  flex: 0 0 auto
  width: 30%
  margin: 10px

mat-label
  color: #ffffff

mat-option
  background-color: #000000
  color: #ffffff

mat-paginator
  margin-top: 70px
  background-color: #222
  color: #ffffff

.mat-elevation-z8
  background-color: #ffffff

  .search-button
    margin-right: 5px
