<div class="vh-100 gradient-custom">
  <div class="container py-2 h-25">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-4 col-md-8 col-lg-6 col-xl-5">
        <mat-card class="bg-primary mb-3" style="border-radius: 1rem;">
          <mat-card-content class="p-3 text-center">
            <h2 class="fw-bold mb-2 text-uppercase" style="color: #FFF">Admin Panel</h2>
            <div class="d-grid mb-3">
              <button mat-raised-button color="primary" routerLink="/admin/user-management" class="py-2">
                Go to User Management
              </button>
            </div>
            <div class="d-grid mb-3">
              <button mat-raised-button color="primary" routerLink="/admin/create-coupon" class="py-2">
                Go to Add Discount
              </button>
            </div>
            <div class="d-grid mb-3">
              <button mat-raised-button color="primary" routerLink="/admin/apply-coupon" class="py-2">
                Go to Apply Discount
              </button>
            </div>
            <div class="d-grid mb-3">
              <button mat-raised-button color="primary" routerLink="/admin/create-brand" class="py-2">
                Go to Create Brand
              </button>
            </div>
            <div class="d-grid mb-3">
              <button mat-raised-button color="primary" routerLink="/admin/create-clothing-item" class="py-2">
                Go to Create New Clothing Item
              </button>
            </div>
            <div class="d-grid mb-3">
              <button mat-raised-button color="primary" routerLink="/admin/add-photo-to-clothing-item" class="py-2">
                Go to Add Photo to Clothing Item
              </button>
            </div>
            <div class="d-grid mb-3">
              <button mat-raised-button color="primary" routerLink="/admin/edit-order" class="py-2">
                Go to Edit Order
              </button>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
